{% extends './basic.html' %}

{% block content %}
<div class="row">
    <div class="card mb-3 mx-auto mt-10" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://m.media-amazon.com/images/M/MV5BMTg5NzY0MzA2MV5BMl5BanBnXkFtZTYwNDc3NTc2._V1_FMjpg_UX1000_.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Our contacts</h5>
              <p class="card-text"><strong>Kyiv, Ukarine</strong>
              <br><strong>Address:</strong> Lavrska str. 16</p>
              <p class="card-text"><strong>e-mail:</strong> info@best-cars.ua
              <br><strong>tel:</strong> +238 (044) 223 34 56</p>

              <p class="card-text"><small class="text-muted">Any time, 24/7/365</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}