{% extends './basic.html' %}

{% block content %}
    <!-- Remove this line the first time you edit this file -->
    <h1>List of Dealer Reviews</h1>
    <ul>
    {% for review in reviews %}
        <li><strong>{{ review.review }}</strong> <br>
        (id: {{review.id}}, name: {{review.name}}, dealership: {{review.dealership}}, purchase: {{review.purchase}}, 
        purchase_date: {{review.purchase_date}}, car_make: {{review.car_make}}, car_model: {{review.car_model}}
        car_year: {{review.car_year}}, sentiment: {{review.sentiment}}) 
        </li>
    {% endfor %}
    </ul>

    <!--Add a nav bar here -->

    <!--Add a dealer table here -->
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    Add a nav bar here

    Add reviews as cards

    </body>

</html> -->
