{% extends './basic.html' %}

{% block content %}
    <!-- Remove this line the first time you edit this file -->
    <h1>List of Dealers</h1>
    <ul>
    {% for dealer in dealers %}
        <li><a href="{% url 'djangoapp:dealer_details' dealer_id=dealer.id%}"><strong>{{ dealer.full_name }}</strong></a> ({{dealer.zip}}, {{dealer.state}}, {{dealer.city}}, {{dealer.address}}, {{dealer.id}}) </li>
    {% endfor %}
    </ul>
    <!--Add a nav bar here -->

    <!--Add a dealer table here -->
{% endblock %}